<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Shivam Traders </h1>
					<p class="animated fadeInUp">Exporter of Food Products </br> One place for all food products to import from India.</p>
					<a href="https://themefisher.com/free-bootstrap-templates/" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a>
				</div>
			</div>
		</div>
	</div>
</section>